<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <img class="center" style="width:40%" src="{{ page.image }}" alt="">
                <h1>{{ page.landing-title }}</h1>
            </header>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>About Us</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="about.html" class="button next">Learn More</a></li>
                </ul>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
