<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <img class="center" style="width:35%" src="{{ page.image }}" alt="">
                <h1>{{ page.landing-title }}</h1>
            </header>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>About Us</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="about.html" class="button next">Learn More</a></li>
                </ul>
            </div>
        </section>
        <section id="tweets">
            <div class="inner">
                <p><a class="twitter-timeline" data-width="100%" data-height="700" data-theme="dark" href="https://twitter.com/kelsey_florek/timelines/1451600053609680896?ref_src=twsrc%5Etfw">StaPH-B Twitter - Curated tweets by kelsey_florek</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </p>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
