<!DOCTYPE html>

<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section id="banner" class="style2">
        <div class="inner">
            <span class="image">
                <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
            </span>
            <header class="major">

                <h1>{{ page.title }}</h1>

            </header>
            <div class="content">

                {{ page.description }}

            </div>
        </div>
    </section>


    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one" class="spotlights">
        {% for post in site.trainings reversed %}
          {% if post.post_id != 404 %}
            <section class="inline">
              <div class="content">
                <div class="inner">
                  <a href="{{ post.url  | relative_url }}" class="link">
                    <div>
                      <h3>{{ post.date | date: '%B %Y' }} - {{ post.title }}</h3>
                      {% if post.authors %}
                      <h4>By: {{ post.authors }}</h4>
                      {% endif %}
                      <p>{{ post.description }}</p>
                    </div>
                  </a>
                </div>
              </div>
            </section>
          {% endif %}
        {% endfor %}
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
