<!DOCTYPE html>

<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section id="banner" class="style2">
        <div class="inner">
            <span class="image">
                <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
            </span>
            <header class="major">

                <h1>{{ page.title }}</h1>

            </header>
            <div class="content">

                {{ page.description }}

            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one" class="spotlights">

        {% for video in site.videos reversed %}
          {% if video.video_id != 404 %}
            <section>
              <iframe id="ytplayer"
                type="text/html"
                width="640"
                height="360"
                srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{ video.video_id }}?autoplay=1><img src=https://img.youtube.com/vi/{{ video.video_id }}/hqdefault.jpg><span>▶</span></a>"
                frameborder="0">
              </iframe>
              <div class="content">
                <div class="inner">
                  <h3>{{ video.date | date: '%B %Y' }} - {{ video.title }}</h3>
                    <p>{{ video.content }}</p>
                </div>
              </div>
            </section>
          {% endif %}
        {% endfor %}
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
